.main{
  background: #f4f2ff;
  border-radius: 3px;
  border: 3px solid #8e78fd;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}
.source-item {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  height: 100px;
  width: 220px;
  border: 3px solid #8e78fd;
  justify-content: center;
  cursor: pointer;
}

.source-link{
  text-align: center;
  margin: 0 10px;
  font-size: 20px;
}

a{
  color: black;
}