.main{
  display: flex;
  flex-direction: column;
  margin: 0 200px;
  margin-top: 100px;
  font-size: 20px;
  font-family: 'Play';
}
.recommendation{
  margin-bottom: 70px;
}

.recommendation-metadata{
  display: flex;
  justify-content: space-between;
}

.recommendation-publish-date{
  margin-top: 20px;
}

.buttons>div{
  width: 200px;
  height: 40px;
  background-color: #fff;
  color: #000;
  text-align: center;
  cursor: pointer;
}

.next-recommendations{
  float: right;
  margin: 30px 0;
}

.prev-recommendations{
  float: left;
  margin: 30px 0;
}