<div class="main">
  <div class="recommendations">
    <div class="recommendation" *ngFor="let recommendation of recommendations | async">
      <div class="recommendation-metadata">
        <div class="recommendation-author">{{ recommendation.author }}</div>
        <div class="recommendation-level">Уровень материала: {{ recommendation.level }}</div>
      </div>
      <h3> {{ recommendation.title }} </h3>
      <div class="recommendation-summary-text">
        <p> {{ recommendation.summary }} </p>
      </div>
      <div class="recommendation-link">Подробнее: <a href="{{recommendation.link}}" target="_blank">{{ recommendation.link }}</a></div>
      <div class="recommendation-publish-date"> {{recommendation.publishDate}} </div>
  </div>
  <div class="buttons">
    <div (click)="prevRecommendations()" class="prev-recommendations">к предыдущим</div>
    <div (click)="nextRecommendations()" class="next-recommendations">к следующим</div>
  </div>
</div>