@{
    ViewBag.Title = "Index";
}

<h3>RSS-новости научной периодики по психологии</h3>
<h4>В списке @(ViewBag.UrlList.Count/2) элемента</h4>
@for (int i = 0; i < ViewBag.UrlList.Count; i += 2)
{
    @Html.ActionLink((string) ViewBag.UrlList[i], "RssFeed", "Feed", new { url = (string) ViewBag.UrlList[i+1], page = 1 })
    <br />
}
