<p>article works!</p>

<!-- <div style="margin-bottom: 10px;">
  @if (ViewBag.Subscribed)
  {
      <a href="@Url.Action("Unsubscribe", "Feed", new { url = Model.FeedValue.Url })" class="btn btn-sm btn-danger">Unsubscribe</a>
  }
  else
  {
      <a href="@Url.Action("Subscribe", "Feed", new { url = Model.FeedValue.Url })" class="btn btn-sm btn-success">Subscribe</a>
  }
  <a href="@Url.Action("ShowAngular", "Feed", new { id = Model.FeedValue.Id })" class="btn btn-sm btn-primary">Show in angular</a>
</div> -->
<!-- @using (Html.BeginForm("Sort", "Feed"))
{
  @Html.HiddenFor(x => x.FeedValue.Url, Model.FeedValue.Url);
  @Html.HiddenFor(x => x.PageInfo.PageNumber, 1);
  @Html.DropDownListFor(model => model.SortValue, new List<SelectListItem>
      {
         new SelectListItem{ Text="Newest", Value = "Newest" },
         new SelectListItem{ Text="Oldest", Value = "Oldest" },
         new SelectListItem{ Text="Last week", Value = "Last week" },
         new SelectListItem{ Text="Last month", Value = "Last month" }
      }, Model.SortValue)
  <input type="submit" value="Submit" />
} -->
<hr />

<div *ngFor="let item of feed.syndicationItems">
    <a> {{item.title.text}} </a>
    <ins> {{item.publishDate}} </ins>
  <div>
      <p> {{item.summary.text}} </p>
  </div>
</div>

<div (click)="nextArticles('', 1, '')" class="next-articles">
</div>