<div class="main">
  <div class="articles">
    <div class="article" *ngFor="let item of syndicationItems | async">
      <h3> {{item.title}} </h3>
      <!-- (click)="openArticle(item.links[0].uri)" -->
    <div class="article-summary-text">
        <p> {{item.summary}} </p>
    </div>
    <div class="article-publish-date"> {{item.publishDate}} </div> 
  </div>

  <div class="buttons">
    <div *ngIf="this.page > 1" (click)="prevArticles()" class="prev-articles">
      Назад
    </div>
    <div (click)="nextArticles()" class="next-articles">
      Дальше
    </div>
  </div>
</div>
