<!-- <navbar></navbar>
<footer></footer> -->


<mat-form-field appearance="fill">
    <mat-label>Cars</mat-label>
    <mat-select required disableOptionCentering panelClass="myPanelClass">
      <mat-option value="" selected></mat-option>
      <mat-option value="volvo">Volvo</mat-option>
      <mat-option value="saab">Saab</mat-option>
      <mat-option value="mercedes">Mercedes</mat-option>
      <mat-option value="audi">Audi</mat-option>
    </mat-select>
</mat-form-field>

<div class="app">
    <router-outlet></router-outlet>    
</div>