@using Phytime.Services
@using Phytime.Models
@using Phytime.ViewModels
@model RssSource
@{
    ViewBag.Title = "Index";
}

<h3>RSS-новости научной периодики по психологии</h3>
<h4>List contains @(Model.Sources.Count) elements</h4>
@for (int i = 0; i < Model.Sources.Count; i++)
{
    @Html.ActionLink((string)Model.Sources[i].Title, "RssFeed", "Feed", new { url = (string)Model.Sources[i].Url })
    <br />
}
