@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Test";
}
<form asp-action="StartTest" asp-controller="Test">
    <label>Number of Questions:</label><br />
    <input type="number" min="1" max="10" name="count" /><br /><br />
    <label>Select Difficulty:</label><br />
    <select name="difficulty">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
    </select><br /><br />
    <label>Select Type:</label><br />
    <select name="type">
        <option value="multiple">Multiple choice</option>
        <option value="boolean">True/False</option>
    </select><br /><br />
    <input type="submit" value="Submit" />
</form>